<html lang="en">
<head>
  <%- include("../helpers/head") %>
</head>

<body>  
  <div class="page-header">
    <%- include("../helpers/navbar") %>

    <h1>Hello world!</h1>
  </div>

  <p>Click on the button for a surprise</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>

  <button type="button" onClick="handleSignIn()">Login</button>
  
</body>

</html>